{% extends "class_record_layout.html" %}
{% set head = Tables|length - 6 %}

{% block classtitle %}
<title>Assessment</title>
{% endblock %}

{% block classpages %}
<div class="px-5 pt-3 d-flex align-items-center">
    {% for Assessment in Assessments %}
    {% if Name == Assessment[0] %}
    <h1>Assessment: {{Name}} - {{Assessment[1]}}%</h1>
    {% set Percentage = Assessment[1] %}
    {% endif %}
    {% endfor %}
    <div class="dropdown ps-3">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('classRecord.index', subject_code=ClassDetails[0], description=ClassDetails[1], section_code=ClassDetails[2], credits=ClassDetails[3], sem=ClassDetails[4], school_year=ClassDetails[5]) }}">Class List</a>
            </li>
            {% for Assessment in Assessments %}
            {% set assessment_link = Assessment[0]|replace(' ', '_') %}
            <li><a class="dropdown-item" href="{{ url_for('classRecord.assessment_record', assessment=assessment_link) }}">{{Assessment[0]}} - {{Assessment[1]}}% </a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="classRecord-header">
</div>
<div class="table-container d-flex pb-4">
    <div class="classRecord-body">
        <table class="table table-hover" id="dynamic-table">
            <thead>
                <tr>
                    {% set col = Tables|length %}
                    <td colspan="{{col + 2}}"> </td>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    {% if Tables|length > 6 %}
                    <th style="text-align: right;">Highest Score:</th>
                    {% else %}
                    <th style="text-align: left;">Highest Score:</th>
                    {% endif %}
                    {% if Tables|length > 6 %}
                    {% for column in range(head) %}
                        {% set value = Tables[column+6][0] %}
                        {% set value_with_spaces = value|replace("_", " ") %}
                        {% set last_space_index = value_with_spaces.rfind(' ') %}
                        {% set numeric_part = value_with_spaces[last_space_index+1:] %}
                        {% set text_part = value_with_spaces[:last_space_index] %}
                        <th data-bs-toggle="tooltip" data-bs-title="{{ text_part }}">{{ numeric_part }}</th>
                    {% endfor %}
                    {% endif %}
                    <th></th>
                    <th>{{TotalScore}}</th>
                    <th></th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th id="last">Last Name</th>
                    {% if Tables|length > 6 %}
                    {% for column in range(head) %}
                        {% set value = Tables[column+6][0] %}
                        {% set value_with_spaces = value|replace("_", " ") %}
                        {% set last_space_index = value_with_spaces.rfind(' ') %}
                        {% set text_part = value_with_spaces[:last_space_index] %}
                        <th data-bs-toggle="tooltip" data-bs-title="{{ text_part }}">S</th>
                    {% endfor %}
                    {% endif %}
                    <th>
                        <button type="button" class="btn btn-secondary addActivity BtnStyle" style="font-size:smaller" data-bs-toggle="modal" data-bs-target="#addActivity">Add Activity
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </th>

                    <th data-bs-toggle="tooltip" data-bs-title="{{ title }}">Total Score</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if Students|length == 0 %}
                <td colspan="8" class="text-center">No Students Entrolled on This Class.</td>
                {% else %} {% for Student in Students %}
                <tr>
                    <td>{{Student[0]}}</td>
                    <td>{{Student[1]}}</td>
                    <td>{{Student[2]}}</td>
                    <td>{{Student[3]}}</td>
                    {% for column in range(head) %}
                    <td>{{Student[6+column]}}</td>
                    {% endfor %}
                    <td></td>
                    <td>
                        {{Student[5]}}
                        {% if TotalScore != 0 %}
                            ({{ '%.2f' % ((Student[5] / TotalScore) * 100) }}%)
                        {% else %}
                        %
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-light addStudentScore"
                            data-bs-toggle="modal" data-bs-target="#addScore" data-id="{{Student[1]}}" data-firstname="{{Student[2]}}" data-lastname="{{Student[3]}}"
                            {% if Tables|length > 6 %}
                            {% for column in range(head) %}
                            {% set value = Tables[column+6][0] %}
                            {% set text = value.rsplit('_', 1)[0] %}
                            data-{{ text }}="{{ Student[6+column] }}"
                            {% endfor %}
                            {% endif %}>
                            <i class="fa-solid fa-plus" style="color: #000000;"></i>
                        </button>
                        <button type="button" class="btn 1">
                            <i class="fa-solid fa-bell" style="color: #000000;"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
</div>

<hr class="pt-4">

<div class="modal fade" id="addActivity" data-bs-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="addActivityModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{{ url_for('classRecord.create_activity') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
            <div class="modal-content">
                <div class="modal-header class-record-modal-header">
                    <h5 class="modal-title">Add Assessment Activity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body class-record-modal-body">
                    <div class="form-group">
                        <label>Activity Name</label>
                        <input type="text" name="activityname" id="name" class="form-control" placeholder="Enter Activity">
                    </div>
                    <div class="form-group">
                        <label>Score Limit</label>
                        <input type="text" name="scorelimit" id="score" class="form-control" placeholder="Enter Score Limit">
                    </div>
                </div>
                <div class="modal-footer class-record-modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Close
                    </button>
                    <button type="submit" id="submit" class="btn btn-success" data-bs-dismiss="modal"> <i
                            class="fa-solid fa-user-pen"></i>Add Activity
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="addScore" data-bs-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="addScoreModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form action="{{ url_for('classRecord.update_activity') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
            <div class="modal-content">
                <div class="modal-header class-record-modal-header">
                    <h5 class="modal-title">Add Assessment Activity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body class-record-modal-body">
                    <input type="hidden" name="id" id="studentid">
                    <h5 class="mb-0">ID: <span id="id" name="id"></span></h5><br>
                    <h5 class="mb-0">Name: <span id="firstname"></span> <span id="lastname"></span></h5><br>
                    {% if Tables|length > 6 %}
                    {% for column in range(head) %}
                        {% set value = Tables[column+6][0] %}
                        {% set value_with_spaces = value|replace("_", " ") %}
                        {% set last_space_index = value_with_spaces.rfind(' ') %}
                        {% set numeric_part = value_with_spaces[last_space_index+1:] %}
                        {% set text_part = value_with_spaces[:last_space_index] %}
                        {% set name = text_part | replace(" ", "_")  %}
                        <div class="form-group mb-3">
                            <label>{{text_part}}</label>
                            <input type="text" name="{{name | lower}}" class="form-control" placeholder="{{numeric_part}}">
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer class-record-modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Close
                    </button>
                    <button type="submit" id="submit" class="btn btn-success" data-bs-dismiss="modal"> <i
                            class="fa-solid fa-user-pen"></i>Add Score
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block assessmentscript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/assessment.js') }}"></script>
{% endblock %}